<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/demo1.css">
</head>

<body>
    <div class="box" id="boxTuThuoc">
        <div class="box__brand">
            <div class="box__brand--left">
                <div class="brand__icon--left">
                    <img class="icon__image" src="https://demo.admicro.vn/sourceDemo/BoxTuThuoc/images/iconTuThuoc.png"
                        alt="logo">
                </div>
                <div class="brand__text--left">
                    <h5 class="text--content">Tủ thuốc</h5>
                    <h5 class="text--content">gia đình</h5>
                </div>
            </div>
            <div class="box__logo--right">
                <img class="logo__image" src="https://demo.admicro.vn/src/sourceDemo/BoxTuThuoc/images/traphaco.png"
                    alt="logo">
            </div>
        </div>
        <div class="box__banner">
            <div class="content__banner" style="width: 300px; height:168px" id="bannervideo">
                <!-- <video width="300" height="168" controls autoplay muted>
                    <source
                        src="https://cdnstoremedia.com/adt/banners/nam2015/4043/min_html5/media/2022-05-09/lanvuthihoang/275238455_2281159572190797_5902030546499621941_n.mp4"
                        type="video/mp4">
                </video> -->
            </div>
        </div>
        <div class="control__box">
            <ul class="control__container">
            </ul>
        </div>

        <div class="box__carousel">
            <div class="carousel__container">
                <div class="carousel__item">
                    <div class="carousel__item--image">
                        <a href="" target="_blank" rel="nofollow"
                            title="Trang web này yêu cầu dữ liệu mà bạn đã nhập trước đó để được hiển thị đúng cách. Bạn có thể gửi lại dữ liệu này nhưng làm như vậy bạn sẽ lặp lại mọi hoạt động mà trang này đã thực hiện trước đó."><img
                                class="item__image"
                                src="https://cdnstoremedia.com/adt/banners/nam2015/4043/min_html5/images/2022-05-12/honglethi/evening-primrose-oil-epo-1000mg.jpg"
                                alt=""></a>
                    </div>
                    <div class="carousel__item--text">
                        <a href="">
                            <h5 class="item__title">Evening Primrose Oil</h5>

                            </p>
                        </a>
                    </div>
                    <div class="carousel__item--button">
                        <a href="${logurl}" target="_blank"><button class="btn__item"
                                style="background-color: #048D4F;">TÌM HIỂU NGAY</button></a>
                    </div>
                </div>
                <div class="carousel__item">
                    <div class="carousel__item--image">
                        <a href="" target="_blank" rel="nofollow"><img class="item__image"
                                src="https://cdnstoremedia.com/adt/banners/nam2015/4043/min_html5/images/2022-05-12/honglethi/brauer-baby-child-immunity-support.jpg"
                                alt=""></a>
                    </div>
                    <div class="carousel__item--text">
                        <a href="">
                            <h5 class="item__title">Brauer Baby Child </h5>

                        </a>
                    </div>
                    <div class="carousel__item--button">
                        <a href="${logurl}" target="_blank"><button class="btn__item"
                                style="background-color: #048D4F;">TÌM HIỂU NGAY</button></a>
                    </div>
                </div>
                <div class="carousel__item">
                    <div class="carousel__item--image">
                        <a href="" target="_blank" rel="nofollow"><img class="item__image"
                                src="https://cdnstoremedia.com/adt/banners/nam2015/4043/min_html5/images/2022-05-12/honglethi/brauer-baby-kids-liquid-vitamin-c.png"
                                alt=""></a>
                    </div>
                    <div class="carousel__item--text">
                        <a href="">
                            <h5 class="item__title">Brauer Baby Kids </h5>

                        </a>
                    </div>
                    <div class="carousel__item--button">
                        <a href="${logurl}" target="_blank"><button class="btn__item"
                                style="background-color: #048D4F;">TÌM HIỂU NGAY</button></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="box__notice" style="background-color: #048D4F;">
            <div class="notice__content">
                <p class="notice__text">Khuyến cáo: <a class="notice__text--small">Sản phẩm này không phải là thuốc và
                        không
                        có tác dụng thay thế thuốc chữa bệnh</a></p>
            </div>
        </div>

    </div>


    <script>
   
    </script>

</body>

</html>